body {
  font-family: Lato, sans-serif;
  color:black;
  background: #FFDDA1;

}

a	{
	color: #4286f4;
}
/*styling for link coloring when hovered, pressed etc */
a :hover, :focus	{
	color: #22a4d8;
}
a :active {
	color: #6a22d8;
}

#navbar {
  background-color: #22d889;
  text-align: center;
}

#navbar a {
  color:white;

}

#navbar h1 {
  font-family: cursive;
}

.box {
	border: solid 2px #4286f4;
	border-radius: 2px;
}

#content	{
	float: center;
	width: 500px;
}

#footer	{
	text-align: center;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	margin: 5px;
}
