body {
  font-family: Lato, sans-serif;
  color:yellow;
  background: #FFDDA1;

}

#navbar {
  background-color: blue;
}
/*Corrections or modifications needed below*/
#navbar a {
  color:white;

}

#navbar h1 {
  
}
/* I will add more CSS styling */
