body {
  font-family: Lato, sans-serif;
  color:yellow;
  background: #FFDDA1;

}

.table {
  text-align: center;
  font-family: Lato, sans-serif;
  border: 2px solid #628395
  background: rebeccapurple;
}

/* I will add more CSS styling */
